@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
body {
  margin: 0;
  /* on retire la marge du body à 8px par défaut */
  height: 100vh;
  background: url("image/electric.jpg");
}
#container-quiz {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.question {
  font-family: roboto mono;
  display: block;
  max-width: 80%;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin: 0px auto 75px auto;
  background-color: #0be6b760;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 6px 8px#0be6b6;
}
.options {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.options button {
  background-color: #0b87e69c;
  color: white;
  font-family: roboto mono;
  text-align: center;
  display: block;
  width: 100%;
  max-width: 800px;
  padding: 15px;
  font-size: 15px;
  border-color: #0be6b6;
  border-width: 3px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  cursor: pointer;
  transition: background-color 0.5s, transform 0.5s;
}
.options button:hover {
  background-color: #0be6b7;
  box-shadow: 5px 5px 8px #0be6b6;
  color: black;
  /* font-size: 16px; */
  transform: scale(1.05);
}
.options button:active {
  transform: scale(0.95);
}
.options button.selected-option {
  background-color: #0be6be9c;
  box-shadow: 5px 5px 5px #c6cbb0;
}
.results-box {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  padding: 10px;
  margin: 10px auto;
}
.container-button {
  text-align: end;
  margin-left: 500px;
  height: 100px;
  /* hauteur définie pour qu'il compte dans le centrage du flex */
}
.container-button button {
  font-family: roboto mono;
  width: 100%;
  max-width: 125px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding: 14px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: #0be6b760;
  border-width: 3px;
  border-color: #0be6b6;
  border-radius: 15px;
  cursor: pointer;
}
button #next-button {
  .button font-family roboto mono {
    width: 100%;
    max-width: 125px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding: 14px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: #0be6b760;
    border-width: 3px;
    border-color: #0be6b6;
    border-radius: 15px;
  }
}
button#next-button:hover {
  background-color: #0be6b760;
  box-shadow: 2px 6px 8px#0be6b6;
  color: white;
}
button#next-button:active {
  box-shadow: 5px 5px 8px #c6cbb0;
}
.correct-answer {
  border: red;
}
.correct-answer {
  background-color: #28a745; /* Vert */
  color: white;
}
.wrong-answer {
  background-color: #dc3545; /* Rouge */
  color: rgb(19, 173, 230);
}
